<!-- detailed contact -->
<div ng-show="issueview" ng-cloak>
  <p class="flow-text">
    <b>Title:</b> {{issueda.title}} <br>
    <b>Detailed Description:</b> {{issueda.description}} <br>
    <b>Name:</b> {{issueda.name}} <br>
    <b>Phone:</b> {{issueda.phone}}
  </p>
</div>
<!-- loader -->
<div ng-show="preloader">
  <center>
    <br>
    <div class="preloader-wrapper big active" ng-cloak>
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </center>
</div>
