<!-- detailed contact -->
<div ng-show="contactview" ng-cloak>
  <p class="flow-text">
    <b>Name:</b> {{contactda.Name}} <br>
    <b>Phone:</b> {{contactda.Phone}} <br>
    <b>Email:</b> {{contactda.Email}} <br>
    <b>City or Village:</b> {{contactda.cityorvillage}} <br>
    <b>State and Country:</b> {{contactda.statecountry}} <br><br>
    <b>Give a small example if you ever tried to reduce someones pain or helped someone in smallest possible way?</b><br>{{contactda.selfexample}}<br><br>
    <b>Why do you want to join the group?</b><br> {{contactda.whyjoin}}<br><br>
    <b>I am interested to help people who needs help in following area(s):</b><br> {{contactda.readyarea}}<br><br>
    <b>I can contribute to following fields:</b><br> {{contactda.expertise}}<br><br>
    <b>In what platform(s) you want to join and communicate ?</b><br> {{contactda.platforms}}
  </p>
</div>
